<h1>Bookmarks</h1>
<%= link_to "New Bookmark", new_bookmark_path, class: 'btn btn-success' %>
<% @bookmarks.each do |bookmark| %>
<div class="media"> 
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to bookmark.title, bookmark %>
    </h4>

  </div>
</div>
<% end %>

