 <div class="row">
   <div class="tabbable tabs-left">
     <ul class="nav nav-tabs">
       <li class="active"><a href="#bookmarks" data-toggle="tab">Bookmarks</a></li>
       <li><a href="#favorites" data-toggle="tab">Likes</a></li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="bookmarks">
        <%= current_user.bookmarks %>

       </div>

       <div class="tab-pane" id="favorites">
        <%= @user.favorites %>

       </div>
     </div>
   </div>
 </div>