 <div class="row">
   <div class="tabbable tabs-left">
     <ul class="nav nav-tabs">
       <li class="active"><a href="#bookmarks" data-toggle="tab">Bookmarks</a></li>
       <li><a href="#favorites" data-toggle="tab">Likes</a></li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="bookmarks">
        <br>
        <p>
          <% @bookmarks.each do |bookmarks| %>
          <%= link_to bookmarks.title, bookmarks %>
          <small>
           Created <%= time_ago_in_words(bookmarks.created_at) %><br/>
         </small>
       </p>
       <% end %>
     </div>
     <div class="tab-pane" id="favorites">
       <br>
       <p>
        <% @favorites.each do |favorite| %>
        <%= link_to favorite.bookmark.title, favorite.bookmark %>
      </p>
      <% end %>
    </div>
  </div>
</div>
</div>