
<main role="main" class="container">
  <div class="row">
    <div class="col-lg-12">
Hello World
    </div>
</main>

<body>

Giggity

</body>  

<footer class="container">
  <div class="row">
    <section class="col-sm-4">
      Copyright 2014
    </section>
    <section class="col-sm-8">
      All rights reserved.
    </section>
  </div>
</footer>
