<h1>Welcome to Blocmarx!</h1>
<p> It's a little strange around here sometimes, but that's ok! </p>
<p> We sometimes bite, but that is ok too! </p>
  <div class="col">
    <div class="col-md-12">
      <%= image_tag("hipster.jpg"  ) %>
    </div>  
  </div>
